/* apple sd gothic neo */
@font-face {
	font-display: swap;
	font-family: 'AppleSDGothicNeo';
	src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

/* 조선100년체 */
@font-face {
	font-display: swap;
	font-family: 'ChosunCentennial';
	src: url('/fonts/ChosunCentennial_ttf.ttf') format('truetype');
}
