/* apple sd gothic neo */
@font-face {
	font-display: swap;
	font-family: 'AppleSDGothicNeoM';
	src: url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'AppleSDGothicNeoR';
	src: url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

/* 조선100년체 */
@font-face {
	font-display: swap;
	font-family: 'ChosunCentennial';
	src: url('/fonts/ChosunCentennial_ttf.ttf') format('truetype');
}
